.card-img-wrapper{
  overflow: hidden;
  position: relative;
}

.card:hover img{
  transform: scale(1.1,1.1);
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  opacity: 0.5;
  height: 250px;
}

.card img{
  transform: scale(0.9,0.9);
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  height: 250px;
}

.member-icon{
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;

}

.card-img-wrapper:hover .member-icon{
  bottom: 0;
  opacity: 1;
}

.animate{
  transition: all 350ms ease-in-out;
}
